<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body{
           background-color: lavender;
           background-image: url('/static/images/school.jpg');
           background-position: center;
           height: 100vh;
           margin: 0;
           display: flex;
           justify-content: center;
           align-items: center;
        }
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="submit"><br>
    <p>Not registered yet?<a href="{% url 'register' %}">register</a></p>
</form>
</body>
</html>